<div class="card header" style="width: 42rem">
    <div class="card-body">
        <h3 class="card-title">{{(boardToDisplay | async)?.name}}</h3>
        <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
        </div>
        </div>
    </div>
    <div>
        <label>List name:
            <input #listName />
        </label>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="add(listName.value); listName.value=''">
            add
        </button>
    </div>
</div>


<app-lists></app-lists>
