<!-- <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <input type="text" placeholder="update name">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="updateBoard(selectedBoard)">updateBoard</button>
        </div> 
    </div>
</div> -->

<input placeholder="Edit Name" class="form-control" [(ngModel)]="board.name" required minlength="2" maxlength="23" #name='ngModel' autofocus>
<button class="btn btn-primary" (click)='updateBoard(name)'>Update</button>