<div>
  <label>Board name:
    <input #boardName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(boardName.value); boardName.value=''">
    add
  </button>
</div>

<div class="album py-5 bg-light">
  <div class="row">
    <div class="col-md-4" *ngFor="let board of boards | async" (click)="goToBoardView(board)">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <p class="card-text">{{board.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
